In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.read_csv('super super market.csv')
df2=pd.read_csv('school location final final.csv')
df3=pd.read_csv('hospital location.csv')

In [3]:
df1

,Unnamed: 0,location,Super Market,Supermarket
0,0,1st Block Jayanagar,NaN,NaN
1,1,1st Phase JP Nagar,NaN,NaN
2,2,2nd Phase Judicial Layout,NaN,NaN
3,3,2nd Stage Nagarbhavi,NaN,NaN
4,4,5th Block Hbr Layout,NaN,NaN
...,...,...,...,...
236,236,Yelahanka,NaN,"Easyday Club Bengaluru Yelahanka,Reliance Fres..."
237,237,Yelahanka New Town,NaN,"Reliance Fresh New Yelanka Town,Reliance Fresh..."
238,238,Yelenahalli,NaN,NaN
239,239,Yeshwanthpur,NaN,"Reliance Fresh Hesarghatta,Reliance Fresh Ulla..."
240,240,other,NaN,"Easyday Club Bengaluru Sarjapur,Easyday Club B..."

In [4]:
df2

,Unnamed: 0,location,schools
0,0,1st Block Jayanagar,"GUHPS BYARASANDRA,GKHPS BYRASANDRA,GUHPS BYARA..."
1,1,1st Phase JP Nagar,NaN
2,2,2nd Phase Judicial Layout,NaN
3,3,2nd Stage Nagarbhavi,NaN
4,4,5th Block Hbr Layout,NaN
...,...,...,...
236,236,Yelahanka,"GKLPS KANNUR,GUHPS KOGILU LAYOUT,GKLPS DWARAKA..."
237,237,Yelahanka New Town,"GKHPS YELAHANKA UPPANAGARA,GKHPS YELAHANKA UPP..."
238,238,Yelenahalli,NaN
239,239,Yeshwanthpur,"Chandrodaya Ehps Yeshvanthpura,Bapu H S Triven..."
240,240,other,SUNDARI AMMAL HSST JOSEPH CONVENT KANNADA LAL ...

In [5]:
df3

,Unnamed: 0,location,Hospitals
0,0,1st Block Jayanagar,NaN
1,1,1st Phase JP Nagar,NaN
2,2,2nd Phase Judicial Layout,NaN
3,3,2nd Stage Nagarbhavi,NaN
4,4,5th Block Hbr Layout,NaN
...,...,...,...
236,236,Yelahanka,"Deeksha Hospital,Ashwini Hospital,Navachethana..."
237,237,Yelahanka New Town,"Navachethana Hospital,Dr Agarwal'S Eye Hospita..."
238,238,Yelenahalli,NaN
239,239,Yeshwanthpur,"Sparsh Super Speciality Hospital,"
240,240,other,"Shanmuga Nursing Home,Shushrusha Nursing Home,..."

In [14]:
df1=df1.drop(['Super Market','Unnamed: 0'],axis=1)
df1

,location,Supermarket
0,1st Block Jayanagar,NaN
1,1st Phase JP Nagar,NaN
2,2nd Phase Judicial Layout,NaN
3,2nd Stage Nagarbhavi,NaN
4,5th Block Hbr Layout,NaN
...,...,...
236,Yelahanka,"Easyday Club Bengaluru Yelahanka,Reliance Fres..."
237,Yelahanka New Town,"Reliance Fresh New Yelanka Town,Reliance Fresh..."
238,Yelenahalli,NaN
239,Yeshwanthpur,"Reliance Fresh Hesarghatta,Reliance Fresh Ulla..."
240,other,"Easyday Club Bengaluru Sarjapur,Easyday Club B..."

In [13]:
df2=df2.drop(['Unnamed: 0'],axis=1)
df2

,location,schools
0,1st Block Jayanagar,"GUHPS BYARASANDRA,GKHPS BYRASANDRA,GUHPS BYARA..."
1,1st Phase JP Nagar,NaN
2,2nd Phase Judicial Layout,NaN
3,2nd Stage Nagarbhavi,NaN
4,5th Block Hbr Layout,NaN
...,...,...
236,Yelahanka,"GKLPS KANNUR,GUHPS KOGILU LAYOUT,GKLPS DWARAKA..."
237,Yelahanka New Town,"GKHPS YELAHANKA UPPANAGARA,GKHPS YELAHANKA UPP..."
238,Yelenahalli,NaN
239,Yeshwanthpur,"Chandrodaya Ehps Yeshvanthpura,Bapu H S Triven..."
240,other,SUNDARI AMMAL HSST JOSEPH CONVENT KANNADA LAL ...

In [15]:
df3=df3.drop(['Unnamed: 0'],axis=1)
df3

,location,Hospitals
0,1st Block Jayanagar,NaN
1,1st Phase JP Nagar,NaN
2,2nd Phase Judicial Layout,NaN
3,2nd Stage Nagarbhavi,NaN
4,5th Block Hbr Layout,NaN
...,...,...
236,Yelahanka,"Deeksha Hospital,Ashwini Hospital,Navachethana..."
237,Yelahanka New Town,"Navachethana Hospital,Dr Agarwal'S Eye Hospita..."
238,Yelenahalli,NaN
239,Yeshwanthpur,"Sparsh Super Speciality Hospital,"
240,other,"Shanmuga Nursing Home,Shushrusha Nursing Home,..."

In [26]:
def supermarket(x):
    i=0
    while i<240:
        if str(x) == df1.at[i,'location']:
            print(df1.at[i,'Supermarket'])
        i=i+1
    return

In [27]:
supermarket('Yelahanka')

Easyday Club Bengaluru Yelahanka,Reliance Fresh Amurthalli,Reliance Fresh New Yelanka Town,SPAR Hypermarket RMZ Galleria Mall,SUPER 99 RMZ GALLERIA MALL,Easyday Club Bengaluru Yelahanka,

In [28]:
supermarket('Yeshwanthpur')

Reliance Fresh Hesarghatta,Reliance Fresh Ulla Main Road,Reliance Fresh Hesarghatta,

In [29]:
def schools(x):
    i=0
    while i<240:
        if str(x) == df2.at[i,'location']:
            print(df2.at[i,'schools'])
        i=i+1
    return

In [30]:
schools('Yelahanka')

GKLPS KANNUR,GUHPS KOGILU LAYOUT,GKLPS DWARAKANAGAR,GKMPS BANGALE,GTHPS KAMAKSHAMMA LAYOUT,GKHPS YELAHANKA UPPANAGARA,GKLPS HOROHALLI,GKHPS NAGENAHALLI,GULPS CHIKKA BETTAHALLI,GKLPS AVALAHALLI (RAJANA KUNTE),GKLPS GANTIGANAHALLI,GKMPS AGRAHARA LAYOUT,GKLPS LBS NAGARA,GKHPS YELAHANKA 4TH PHASE,GKLPS JPN NAGARA,GKLPS BELLAHALLI,GKLPS NAGADASANAHALLI,GKHPS ATTURU,GKLPS VINAYAKNAGAR,GKHPS KATTIGENAHALLI,Vidhya Sagar Higher Primary School,GKHPS YELAHANKA,GKLPS HONNENAHALLI,GUHPS YELAHANKA OLD TOWN,GKHPS SINGANAYAKANAHALLI,GKLPS MUDDENAHALLI,GKHPS CHOKKENAHALLI,GKHPS KOGILU,GKLPS KEMPANAHALLI,GKHPS KOGILU LAYOUT,GKHPS PALANAHALLI,GKLPS CHANNASANDRA,GULPS BELLAHALLI,GKLPS PUTTENAHALLI,GKLPS VENKATALA,GKLPS THIRUMENAHALLI,GKLPS KENCHANAHALLI,GKLPS KANNURGUHPS KOGILU LAYOUTGKLPS DWARAKANAGARGKMPS BANGALEGTHPS KAMAKSHAMMA LAYOUTGKHPS YELAHANKA UPPANAGARAGKLPS HOROHALLIGKHPS NAGENAHALLIGULPS CHIKKA BETTAHALLIGKLPS AVALAHALLI (RAJANA KUNTE)GKLPS GANTIGANAHALLIGKMPS AGRAHARA LAYOUTGKLPS LBS NAGARAGKHPS YELAHANKA 4TH PHASEGKLPS JPN NAGARAGKLPS BELLAHALLIGKLPS NAGADASANAHALLIGKHPS ATTURUGKLPS VINAYAKNAGARGKHPS KATTIGENAHALLIVidhya Sagar Higher Primary SchoolGKHPS YELAHANKAGKLPS HONNENAHALLIGUHPS YELAHANKA OLD TOWNGKHPS SINGANAYAKANAHALLIGKLPS MUDDENAHALLIGKHPS CHOKKENAHALLIGKHPS KOGILUGKLPS KEMPANAHALLIGKHPS KOGILU LAYOUTGKHPS PALANAHALLIGKLPS CHANNASANDRAGULPS BELLAHALLIGKLPS PUTTENAHALLIGKLPS VENKATALAGKLPS THIRUMENAHALLIGKLPS KENCHANAHALLI

In [31]:
def hospitals(x):
    i=0
    while i<240:
        if str(x) == df3.at[i,'location']:
            print(df3.at[i,'Hospitals'])
        i=i+1
    return

In [32]:
hospitals('Yelahanka')

Deeksha Hospital,Ashwini Hospital,Navachethana Hospital,Dr Agarwal'S Eye Hospital Ltd.,N.D. R Hospital,Neha Prakash Hospital,Manasa Slv Hospital,Om Shakthi Hospital,Apurva Mother & Child Hospital,Chaitanya Medical Centre,Apple Hospital,Abhishek Nethradhama,K K Hospital,Shree Saiprasad Multispeciality Hospital,